@model courseproject.Models.Доходы_и_расходы

@{
    ViewBag.Title = "Добавление";
}

<h2>Добавление</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Доходы_и_расходы</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.ID_периода, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ID_периода, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ID_периода, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Положительный, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Положительный)
                    @Html.ValidationMessageFor(model => model.Положительный, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Итоговая_сумма, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Итоговая_сумма, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Итоговая_сумма, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Прибыль_от_продаж, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Прибыль_от_продаж, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Прибыль_от_продаж, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Затраты_на_комбикорм, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Затраты_на_комбикорм, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Затраты_на_комбикорм, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Затраты_на_электроэнергию, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Затраты_на_электроэнергию, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Затраты_на_электроэнергию, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Затраты_на_з_п_сотрудников, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Затраты_на_з_п_сотрудников, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Затраты_на_з_п_сотрудников, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Затраты_на_другое, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Затраты_на_другое, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Затраты_на_другое, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Дата_учёта, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Дата_учёта, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Дата_учёта, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Добавить" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Назад", "Index")
</div>
