
@{
    ViewBag.Title = "My Capability";
}

<h4 style="font-style: italic">Вам доступны все таблицы и действия в них:</h4>
<br />
<p>Таблица @Html.ActionLink("\"Доходы и расходы\"", "Index", "Доходы_и_расходы")</p>
<br />
<p>Таблица @Html.ActionLink("\"Клиенты\"", "Index", "Клиенты")</p>
<p>Таблица @Html.ActionLink("\"Заказы\"", "Index", "Заказы")</p>
<br />
<p>Таблица @Html.ActionLink("\"Сотрудники\"", "Index", "Сотрудники")</p>
<br />
<p>Таблица @Html.ActionLink("\"Объекты\"", "Index", "Объекты")</p>
<p>Таблица @Html.ActionLink("\"Склады\"", "Index", "Склады")</p>
<p>Таблица @Html.ActionLink("\"Цеха производства\"", "Index", "Цеха_производства")</p>

<p>Таблица @Html.ActionLink("\"Продукция\"", "Index", "Продукция")</p>