@model IEnumerable<courseproject.Models.Клиенты>

@{
    ViewBag.Title = "Клиенты";
}

<h2>Клиенты</h2>
<hr />
<div class="roat">
    <form action="/Клиенты/FindByName" method="post">
        <input type="text" name="name" placeholder="Имя юр. лица" />
        <input type="submit" value="Найти" />
    </form>
</div>
<hr />
<p>
    @Html.ActionLink("Добавить клиента", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Наименование_Юридического_Лица)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ИНН)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ОГРН)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Адрес)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.e_mail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Номер_телефона)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Начало_сотрудничества)
        </th>
        <th>
            @Html.ActionLink("Количество_заказов", "PhiltrNumberOfOrders")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Наименование_Юридического_Лица)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ИНН)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ОГРН)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Адрес)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.e_mail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Номер_телефона)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Начало_сотрудничества)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Количество_заказов)
            </td>
            <td>
                @Html.ActionLink("Изменить", "Edit", new { id = item.Наименование_Юридического_Лица }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.Наименование_Юридического_Лица })
            </td>
        </tr>
    }

</table>
