@model courseproject.Models.Цеха_производства

@{
    ViewBag.Title = "Изменение";
}

<h2>Изменение</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Цеха_производства</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID_объекта)

        <div class="form-group">
            @Html.LabelFor(model => model.Кол_во_сотрудников, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Кол_во_сотрудников, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Кол_во_сотрудников, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ID_начальника_цеха, "ID_начальника_цеха", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ID_начальника_цеха", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ID_начальника_цеха, "", new { @class = "text-danger" })
            </div>
            <span style="font-style: italic;">*Выбирается в зависимости от выбранной Фамилии сотрудника.</span>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Общий_объем_инкубаторов, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Общий_объем_инкубаторов, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Общий_объем_инкубаторов, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Объем_продукции_в_сутки, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Объем_продукции_в_сутки, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Объем_продукции_в_сутки, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Назад", "Index")
</div>
