@model courseproject.Models.Сотрудники

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Сотрудники</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Фамилия)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Фамилия)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Имя)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Имя)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Отчество)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Отчество)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Серия_и_номер_паспорта)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Серия_и_номер_паспорта)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Пол)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Пол)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Дата_рождения)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Дата_рождения)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Должность)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Должность)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Дата_вступления_в_должность)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Дата_вступления_в_должность)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Зарплата)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Зарплата)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.e_mail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.e_mail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Номер_телефона)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Номер_телефона)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Объекты.Наименование)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Объекты.Наименование)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_сотрудника }) |
    @Html.ActionLink("Back to List", "Index")
</p>
